# Loại bỏ toàn bộ dữ liệu trong thư mục button_cell
IRMamba/data/button_cell/**/*

# Loại bỏ các file trọng số mô hình (checkpoint)
*.pth
*.pkl

# Loại bỏ thư mục cache của Python
__pycache__/
.ipynb_checkpoints/